@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50/50 text-slate-900;
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  nav, footer, .no-print {
    display: none !important;
  }
}
